Repository jeertmans/DiffeRT, changes with the labels that .github/labeler.yml gives for each.
All labels: benchmarks, ci, documentation, dependencies, python, rust, tests, visualization

fix(docs): typo
  differt/src/differt/scene/triangle_scene.py
Labels: python

chore(lib): use new sharding API instead
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/conftest.py
  differt/tests/scene/test_triangle_scene.py
Labels: python, tests

chore(lib): add todo
  differt/src/differt/scene/triangle_scene.py
Labels: python

chore(docs): typo
  differt/src/differt/scene/triangle_scene.py
Labels: python

feat(lib): add basic support for ray tracing on multiple devices (#128)
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/conftest.py
  differt/tests/scene/test_triangle_scene.py
Labels: python, tests

chore(deps): bump version from 0.0.19 to 0.0.20
  Cargo.lock
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Labels: ci, dependencies

chore(docs): add basic citation information
  CITATION.cff
  README.md
  docs/source/citing.rst
  docs/source/index.rst
  pyproject.toml
Labels: ci, documentation, dependencies

chore(docs): hide output from path candidates
  docs/source/notebooks/path_candidates.ipynb
Labels: documentation

chore(docs): fix links
  docs/source/notebooks/path_candidates.ipynb
Labels: documentation

fix(docs): typo
  README.md
Labels: documentation

fix(docs): typos found by codespell!
  CITATION.cff
Labels: none

fix(docs): hide output of correct cell
  docs/source/notebooks/path_candidates.ipynb
Labels: documentation

chore(docs): add basic citation information (#129)
  CITATION.cff
  README.md
  docs/source/citing.rst
  docs/source/index.rst
  docs/source/notebooks/path_candidates.ipynb
  pyproject.toml
Labels: ci, documentation, dependencies

fix(docs): citation file
  CITATION.cff
Labels: none

fix(docs): citation fixed!
  CITATION.cff
Labels: none

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Labels: ci

feat(lib): fix empty scene path tracing and add `path_candidates` args
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
  docs/source/notebooks/path_candidates.ipynb
Labels: documentation, python, tests, visualization

feat(lib): fix empty scene path tracing and add `path_candidates` args (#131)
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
  docs/source/notebooks/path_candidates.ipynb
Labels: documentation, python, tests, visualization

fix(lib): path segments that are too small are masked
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/scene/fixtures.py
  differt/tests/scene/test_triangle_scene.py
Labels: python, tests

chore(lib): change legacy `PRNGKey` to `key`
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/utils.py
  differt/tests/conftest.py
  differt/tests/utils.py
  docs/source/notebooks/performance_tips.ipynb
  docs/source/notebooks/type_checking.ipynb
Labels: documentation, python, tests

fix(lib): path segments that are too small are masked (#132)
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/conftest.py
  differt/tests/scene/fixtures.py
  differt/tests/scene/test_triangle_scene.py
  differt/tests/utils.py
  docs/source/notebooks/performance_tips.ipynb
  docs/source/notebooks/type_checking.ipynb
Labels: documentation, python, tests

feat(cli): add rectangle / quad mesh support
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/test_utils.py
Labels: python, tests

chore(tests): add tests
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
Labels: python, tests

feat(cli): add rectangle / quad mesh support (#134)
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
  differt/tests/test_utils.py
Labels: python, tests

chore(deps): bump version from 0.0.20 to 0.0.21
  CITATION.cff
  Cargo.lock
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Labels: ci, dependencies

feat(lib): convenient `set_assume_quads` method
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
Labels: python, tests

fix(docs): typo
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/scene/triangle_scene.py
Labels: python

feat(lib): convenient `set_assume_quads` method (#135)
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/scene/test_triangle_scene.py
Labels: python, tests

chore(ci): add bechmark for quads
  differt/tests/benchmarks/test_rt.py
Labels: benchmarks, python, tests

chore(ci): add bechmark for quads (#136)
  differt/tests/benchmarks/test_rt.py
Labels: benchmarks, python, tests

chore(docs): update name
  docs/source/index.rst
Labels: documentation

chore(ci): restrict to tags starting with v
  .github/workflows/publish.yml
Labels: ci

chore(docs): update name (#137)
  .github/workflows/publish.yml
  docs/source/index.rst
Labels: ci, documentation

.github/labeler.yml:

benchmarks:
- changed-files:
  - any-glob-to-any-file:
    - '**/benches/**/*.rs'
    - '**/benchmarks/**/*.py'
ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .pre-commit-config.yaml
    - pyproject.toml

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - README.md

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.lock'
    - '**/Cargo.toml'
    - '**/pyproject.toml'

python:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.py'

rust:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.rs'

tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/tests/**/*.py'
    - '**/tests/**/*.rs'

visualization:
- changed-files:
  - any-glob-to-any-file: '**/plotting/**/*.py'
