Repository jeertmans/DiffeRT, changes with the labels that .github/labeler.yml gives for each.
All labels: benchmarks, ci, documentation, dependencies, python, rust, tests, visualization

.github/labeler.yml:

benchmarks:
- changed-files:
  - any-glob-to-any-file:
    - '**/benches/**/*.rs'
    - '**/benchmarks/**/*.py'
ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .pre-commit-config.yaml
    - pyproject.toml

documentation:
- changed-files:
  - any-glob-to-any-file:
    - docs/**/*
    - README.md

dependencies:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.lock'
    - '**/Cargo.toml'
    - '**/pyproject.toml'

python:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.py'

rust:
- changed-files:
  - any-glob-to-any-file:
    - '**/*.rs'

tests:
- changed-files:
  - any-glob-to-any-file:
    - '**/tests/**/*.py'
    - '**/tests/**/*.rs'

visualization:
- changed-files:
  - any-glob-to-any-file: '**/plotting/**/*.py'

perf(lib): unroll image method and `use_scan=True/False` (#119)
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/tests/benchmarks/conftest.py
  differt/tests/benchmarks/fixtures.py
  differt/tests/benchmarks/test_rt.py
  differt/tests/rt/test_utils.py
  differt/tests/rt/utils.py
  justfile
Labels: benchmarks, python, tests

chore(lib): cleanup
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/geometry/utils.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  differt/src/differt/utils.py
  differt/tests/benchmarks/fixtures.py
  differt/tests/benchmarks/test_rt.py
  uv.lock
Labels: benchmarks, dependencies, python, tests

fix(lib): make `material_names` field static
  differt/src/differt/geometry/triangle_mesh.py
  differt/tests/rt/test_utils.py
Labels: python, tests

chore(lib): was `einsum` any better?
  differt/src/differt/rt/utils.py
Labels: python

chore(lib): looks like einsum was a bad idea :-(
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/tests/rt/test_image_method.py
  differt/tests/scene/test_triangle_scene.py
Labels: python, tests

chore(lib): was `einsum` any better? (#120)
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/image_method.py
  differt/src/differt/rt/utils.py
  differt/tests/rt/test_image_method.py
  differt/tests/scene/test_triangle_scene.py
Labels: python, tests

chore(docs): add missing documentation to `differt_core`
  differt-core/python/differt_core/__init__.py
  differt-core/python/differt_core/geometry/__init__.py
  differt-core/python/differt_core/geometry/triangle_mesh.py
  differt-core/python/differt_core/rt/__init__.py
  differt-core/python/differt_core/scene/__init__.py
  differt-core/python/differt_core/scene/triangle_scene.py
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/scene/triangle_scene.rs
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/scene/triangle_scene.py
  docs/source/conf.py
Labels: documentation, python, rust

fix(docs): rewrite type hint
  differt-core/python/differt_core/geometry/triangle_mesh.py
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/scene/triangle_scene.rs
Labels: python, rust

fix(docs): typo
  differt/src/differt/geometry/triangle_mesh.py
Labels: python

fix(docs): typo
  differt/src/differt/plotting/_utils.py
Labels: python, visualization

chore(docs): add missing documentation to `differt_core` (#121)
  differt-core/python/differt_core/__init__.py
  differt-core/python/differt_core/geometry/__init__.py
  differt-core/python/differt_core/geometry/triangle_mesh.py
  differt-core/python/differt_core/rt/__init__.py
  differt-core/python/differt_core/scene/__init__.py
  differt-core/python/differt_core/scene/triangle_scene.py
  differt-core/src/geometry/triangle_mesh.rs
  differt-core/src/scene/triangle_scene.rs
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/_utils.py
  differt/src/differt/scene/triangle_scene.py
  docs/source/conf.py
Labels: documentation, python, rust, visualization

chore(deps): bump version from 0.0.17 to 0.0.18
  Cargo.lock
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
Labels: ci, dependencies

fix(ci): force `dist` directory
  .github/workflows/publish.yml
Labels: ci

chore(ci): allow manual publishing
  .github/workflows/publish.yml
Labels: ci

fix(lib): add coherence map
  differt/src/differt/scene/triangle_scene.py
  differt/tests/scene/test_triangle_scene.py
  docs/source/notebooks/coherence.ipynb
Labels: documentation, python, tests

chore(deps): update pre-commit hooks
  .pre-commit-config.yaml
Labels: ci

chore(docs): identify groups
  docs/source/notebooks/coherence.ipynb
  justfile
Labels: documentation

chore(docs): format Rust's docstring
  differt-core/src/geometry/triangle_mesh.rs
Labels: rust

chore(docs): add first coherence map
  differt/src/differt/geometry/paths.py
  differt/src/differt/plotting/__init__.py
  differt/src/differt/plotting/_core.py
  differt/tests/plotting/test_core.py
  docs/source/notebooks/coherence.ipynb
Labels: documentation, python, tests, visualization

chore(tests): fixes
  differt/src/differt/geometry/paths.py
  differt/tests/plotting/test_core.py
Labels: python, tests, visualization

chore(lib): remove inner compute paths logic to outside for jitting
  differt/src/differt/geometry/paths.py
  differt/src/differt/scene/triangle_scene.py
Labels: python

chore(docs): cleanup example
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/utils.py
  docs/source/notebooks/coherence.ipynb
Labels: documentation, python

chore(ci): use Self return type to allow subclassing
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/scene/triangle_scene.py
  docs/source/notebooks/coherence.ipynb
Labels: documentation, python

chore(tests): remove typechecking when using typing.Self
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/geometry/test_triangle_mesh.py
Labels: python, tests, visualization

chore(docs): do not execute coherence example when building docs
  docs/source/notebooks/coherence.ipynb
Labels: documentation

fix(docs): automatically close Matplotlib figures
  differt/tests/conftest.py
Labels: python, tests

chore(tests): cache output
  differt/tests/conftest.py
Labels: python, tests

fix(lib): add coherence map (#122)
  differt-core/src/geometry/triangle_mesh.rs
  differt/src/differt/geometry/paths.py
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/geometry/utils.py
  differt/src/differt/plotting/__init__.py
  differt/src/differt/plotting/_core.py
  differt/src/differt/scene/triangle_scene.py
  differt/tests/conftest.py
  differt/tests/geometry/test_triangle_mesh.py
  differt/tests/plotting/test_core.py
  differt/tests/scene/test_triangle_scene.py
  justfile
Labels: python, rust, tests, visualization

chore(lib): invert hit logic
  differt/src/differt/rt/utils.py
Labels: python

chore(lib): invert hit logic (#126)
  differt/src/differt/rt/utils.py
Labels: python

chore(lib): calibrate path tracing
  differt/src/differt/scene/triangle_scene.py
Labels: python

chore(lib): cleanup
  differt/src/differt/scene/triangle_scene.py
Labels: python

chore(lib): small fixes and SizedIterator
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
Labels: python

fix(lib): typo in core module :-(
  differt-core/src/geometry/triangle_mesh.rs
Labels: rust

chore(docs): small improvements
  differt/src/differt/rt/utils.py
  docs/source/notebooks/type_checking.ipynb
Labels: documentation, python

fix(lint): and simu
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
Labels: python

chore(lib): calibrate path tracing (#127)
  differt-core/src/geometry/triangle_mesh.rs
  differt/src/differt/geometry/triangle_mesh.py
  differt/src/differt/rt/utils.py
  differt/src/differt/scene/triangle_scene.py
  docs/source/notebooks/type_checking.ipynb
Labels: documentation, python, rust

chore(deps): bump version from 0.0.18 to 0.0.19
  Cargo.lock
  differt-core/Cargo.toml
  differt/pyproject.toml
  pyproject.toml
  uv.lock
Labels: ci, dependencies

chore(paper): creating figures for paper
  docs/source/notebooks/coherence_paper_figures.ipynb
  pyproject.toml
  uv.lock
Labels: ci, documentation, dependencies

feat(lib): add basic support for ray tracing on multiple devices
  differt/src/differt/scene/triangle_scene.py
  differt/tests/scene/test_triangle_scene.py
Labels: python, tests
